.footer {
  background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
  padding: 60px 80px;
  color: #fff;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__column {
  margin-left: auto;
}

.footer__social-heading {
  margin: 0 0 20px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__social-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.footer__social-link:hover {
  opacity: 0.7;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__copyright {
  margin: 108px 0 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
