.header {
  box-sizing: border-box; /* Added property */
  background-color: #fff;
  background-image: url('../images/background_header.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 80px 40px;
  min-height: 720px; /* Added height restriction */
  max-height: 800px; /* Added height restriction */
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}


.header__title {
  max-width: 729px;
  margin: 183px 0 0;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px; /* Added letter-spacing */
}

.header__span-accent {
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-style: italic;
  color: #2F80ED;
  display: block;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  z-index: -1;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__paragraph {
  margin: 0;
  color: #838383;
  font-weight: 500;
}
