.header {
  height: 800px;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url('../images/background_header.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  max-width: 729px;
  margin-top: 183px;
  margin-bottom: 0;
  margin-left: 80px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED;
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  margin-bottom: 0;
  margin-left: 80px;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 80px;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__paragraph {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6F6F6F;
}
