.menu {
  background-color: #fff;
  background-image: url('../images/background_menu.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.menu__title {
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin: 24px auto 100px;
  text-align: center;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-family: 'Noto Serif', 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  border-bottom: 1px solid #000000;
  flex-grow: 1;
  margin: 0 10px;
}
